<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta description="Delete an Event - Crowdcounter">
    <title>Crowdcounter - Delete Event</title>
    <!--Stylesheets and Fonts-->
      <link href="css/main.css" rel="stylesheet" type="text/css" />
      <!-- Linking Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--Scripts-->
      <!-- Include AW3 SDK -->
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.211.0.min.js"></script>
      <!-- Include JQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <!-- Include JS specific to page -->
      <script src="js/delete.js"></script>
      <!-- Include Moment.js for date picker and event data -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.js"></script>
  </head>
  <body>
    
    <header role="banner">
      <img src="images/crowdcounter-logo.png" class="en-logo" alt="Crowdcounter logo" />
    </header>

    <main role="main">
      <section class="form-area" role="region">
        <div class="main-container">
          <h2>Delete this event?</h2>
          <div class="eventHeader"></div>
            <form id="deleteForm" action="api/events/remove" encType="multipart/form-data" method="post">
              <input type="hidden" name="deleteId" id="deleteId" />
              <input type="hidden" name="deleteKey" id="deleteKey" />
              <button class="button-red" type="submit">Delete this event</button>
            </form>
            <br />
            <div class="links"><a href="/events">Return to events list</a></div>
        </div>
      </section>
    </main>
  </body>
</html>