<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta description="Events page for Crowdcounter app">
    <title>Crowdcounter - Events Page</title>
    <!--Stylesheets and Fonts-->
      <link href="css/main.css" rel="stylesheet" type="text/css" />
      <!-- Linking Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      <!-- Add icon library -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Scripts-->
      <!-- Include AW3 SDK -->
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.211.0.min.js"></script>
      <!-- Include JQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <!-- Include JS specific to page -->
      <script src="js/events.js"></script>
      <!-- Include Moment.js for date picker and event data -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.js"></script>
  </head>
  <body>
    
    <header role="banner">
      <img src="images/crowdcounter-logo.png" class="en-logo" alt="Crowdcounter logo" />
    </header>

    <main role="main">
      <section class="form-area" role="region">
        <div class="main-container">
          <div class="alert-container js-alert-container">
              <div class="alert-area js-alert-area"></div>
          </div>
          <h3>Create a New Event</h3>
          <form id="uploadForm" class="upload-form" action="/api/events" encType="multipart/form-data" method="POST">
              <div class="text-inputs">
                <label for="eventName">Enter event name:
                <input type="text" id="eventName" name="eventName" required /></label>
                <label for="eventDate">Enter event date:
                <input type="date" id="eventDate" name="eventDate" required /></label>
              </div>
              <div class="upload-btn-wrapper">
                <button class="btn">Upload a Crowd Image</button>
                <input type="file" name="uploadFile" id="uploadFile" accept=".jpg, .jpeg" required />
              </div>
              <button class="upload-button" id="uploadButton" type="submit">Create the Event</button>
          </form>
          <br />
          <hr />
          <h3>Past Events</h3>
            <div class="eventsList"></div>
        </div>
      </section>
    </main>
  </body>
</html>