<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta description="Login page for Crowdcounter app">
    <title>Crowdcounter - Login Page</title>
    <!--Stylesheets and Fonts-->
      <link href="css/main.css" rel="stylesheet" type="text/css" />
      <!-- Linking Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--Scripts-->
      <!-- Include JQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <!-- Include JS specific to page -->
      <script src="js/login.js"></script>
  </head>
  <body>
    
    <header role="banner">
      <img src="images/crowdcounter-logo.png" class="en-logo" alt="Crowdcounter logo" />
    </header>

    <main role="main">
      <section class="form-area" role="region">
        <div class="main-container">
          <div class="left-align-body">
            <h1>Welcome!</h1>
            <p>Crowdcounter is a simple project which attempts to count the number of people in a snapshot of a crowd using Amazon's Rekognition facial recognition service.</p>
            <p>It has some limitations...</p>
            <ul>
                <li>Images must be stored to be analyzed. Storage is cheap, but not free, so <strong>sign-in is required</strong>.</li>
                <li>Ideally, the crowd in the picture should be <strong>facing the camera with good, flat light</strong> (think of your 3rd grade class picture).</li>
                <li>Even then, it might not work very well! With Rekognition I'm seeing about 30-70% of faces recognized - your mileage may vary. I hope to make this a platform to try out different visual recognition solutions.</li>
                <li>At present, Rekognition can only spot a <strong>maximum of 100 people per image</strong>. </li>
                <li>I have a wishlist a mile long for this project, but the primary goal was to learn the basics of Node.js, Express, AWS S3 and Rekognition, and MongoDb. As such, if you spot any issues, feedback (via the <a href="https://github.com/jwoleslagle/Crowdcounter" alt="GitHub page for Crowdcounter">GitHub page</a>) is always appreciated.</li>
            </ul>
          </div>
          <div class="index-notice">Ready to begin? <a href="/signup">Sign up</a> or <a href="/login">log in</a>!</div>
        </div>
      </section>
    </main>

  </body>
</html>