html {
  background-color: #3f94e7;
  font-family: 'Roboto', sans-serif;
}
  
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  height: 55px;
  width: 320px;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  background-color: mediumseagreen;
  border: 2px solid seagreen;
  border-radius: 8px;
}

canvas {
  width: 100%;
}

fieldset {
  border: none;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  text-align: center;
}

input::placeholder {
  color: gray;
}

label {
  display: block;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

li {
  margin: 3px 0px; 
  border-bottom: 1px solid #CCC;
}

li:last-child {
  margin: 0px 0px; 
  border-bottom: 0px;
}

.alert-area {
  color: royalblue;
  background-color: rgba(65, 105, 225, 0.1);
  margin-top: 10px;
}

.alert-container {
  text-align: center;
  visibility: hidden;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.button-red {
  background-color: red;
  border: 2px solid darkred;
}

.delete-link {
  color: red;
}

.links {
  margin-bottom: 30px;
}

.en-logo {
  width: 350px;
  margin: 5px;
}

.event-details-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.4em;
}

.event-img-container {
  width: 100%;
}

.events-list {
  list-style-type: none;
  padding: 0;
}

.form-area {
  display: flex;
  justify-content: center;
}

.input-field {
  width: 286px;
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 3px;
  background-color: ghostwhite;
  color: gray;
}

.index-notice {
  font-size: 1.3em;
  padding-bottom: 10px;
}

.left-align-body {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.left-align-body li{
  padding-bottom: 1.1em;
}

.main-container {
  background-color: white;
  text-align: center;
  width: 400px;
  border: 2px royalblue solid;
}

.main-container h1 {
  text-align: center;
  font-size: 2em;
}

.main-bottom-notice {
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 15px;
}

.main-bottom-notice a {
  color: white;
  font-weight: bold;
}

.past-event-img {
  width: 100%;
}

.submit-button:hover {
  background-color: seagreen;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-form .text-inputs {
  padding-left: 60px;
}

.user-submit-button {
  margin-bottom: 50px;
}